<div style="width: 500px;">
  <h2 mat-dialog-title>Zeitplan kopieren</h2>

  <mat-dialog-content>
    <div style="display: flex; flex-direction: column;">
      <span style="display: flex;">
        <mat-form-field color="accent">
          <mat-label>Quell-Tag</mat-label>
          <input matInput [matDatepicker]="sourcePicker" [(ngModel)]="sourceScheduleDate" (dateChange)="refreshChart()">
          <mat-datepicker-toggle matSuffix [for]="sourcePicker"></mat-datepicker-toggle>
          <mat-datepicker #sourcePicker></mat-datepicker>
        </mat-form-field>
        <span class="spacer"></span>
        <mat-icon style="align-self: center;">chevron_right</mat-icon>
        <mat-icon style="align-self: center;">chevron_right</mat-icon>
        <mat-icon style="align-self: center;">chevron_right</mat-icon>
        <span class="spacer"></span>
        <mat-datepicker #sourceDatePicker></mat-datepicker>
        <mat-form-field color="accent">
          <mat-label>Ziel-Tag</mat-label>
          <input matInput [matDatepicker]="targetPicker" [(ngModel)]="targetScheduleDate">
          <mat-datepicker-toggle matSuffix [for]="targetPicker"></mat-datepicker-toggle>
          <mat-datepicker #targetPicker></mat-datepicker>
        </mat-form-field>
        <mat-datepicker #targetDatePicker></mat-datepicker>
      </span>
      <mat-divider></mat-divider>
      <h4 style="align-self: center;">Zeitplan-Vorschau</h4>
      <div id="chartdiv" style="width: 100%; height: 200px;" #chartElement></div>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions class="dialog-actions-container">
    <div class="dialog-actions-content">
      <button mat-raised-button color="warn" (click)="onAbortClicked()">Abbrechen</button>
      <button mat-raised-button color="accent" (click)="onConfirmClicked()"
        >
        Bestätigen
      </button>
    </div>
  </mat-dialog-actions>
</div>
