<owl-carousel-o [options]="customOptions">
  <ng-template carouselSlide>
    <app-movie-banner image="../../../assets/testing/endgame.jpg" title="Avengers: Endgame" headline="Jetzt im Kino!"></app-movie-banner>
  </ng-template>
  <ng-template carouselSlide>
    <app-movie-banner image="../../../assets/testing/kingsman.jpg" title="Kingsman: The Golden Circle"></app-movie-banner>
  </ng-template>
  <ng-template carouselSlide>
    <app-movie-banner image="../../../assets/testing/jurassic.jpg" title="Jurassic World: Lost Kingdom"></app-movie-banner>
  </ng-template>
</owl-carousel-o>
