<div>
  <span style="display: flex; align-items: baseline;">
    <h2 mat-dialog-title>{{isEdit ? 'Kinosaal bearbeiten' : 'Kinosaal erstellen'}}</h2>
    <span class="spacer"></span>
    <label>{{room.isOpen ? 'Offen' : 'Geschlossen'}}</label>
    <mat-slide-toggle [(ngModel)]="room.isOpen" style="margin-left: 8px;">
    </mat-slide-toggle>
  </span>

  <mat-dialog-content>
    <div style="display: flex;">
      <mat-form-field>
        <input matInput placeholder="Name" [(ngModel)]="room.name" required>
      </mat-form-field>
      <span class="spacer"></span>
      <span>
        <mat-form-field *ngIf="isLoaded" style="margin-left: 8px;" color="accent">
          <input matInput [value]="'Zeitplan #' + room.schedule.id" placeholder="Zeitplan" disabled>
          <!--<mat-select [disabled]="schedules.length == 0" placeholder="Zeitplan" [(value)]="selectedScheduleIndex"
            (selectionChange)="onScheduleIndexChanged($event)">
            <mat-option *ngFor="let schedule of schedules" [value]="schedule.id">
              Zeitplan #{{schedule.id}}
            </mat-option>
          </mat-select>
          <button matSuffix mat-icon-button matTooltip="Zeitplan generieren" (click)="onGenerateSchedule()">
            <mat-icon>add</mat-icon>
          </button>-->
        </mat-form-field>
      </span>
    </div>
    <mat-expansion-panel style="margin-bottom: 8px">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Raumplan
        </mat-panel-title>
        <mat-panel-description>
          Sitzanordnung ändern
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div>
        <!-- Row and column configuration -->
        <span style="display: flex; align-items: center;">
          <span class="spacer"></span>
          <mat-form-field style="width: 80px;">
            <input matInput type="number" placeholder="# Reihen" [(ngModel)]="roomPlan.rows"
              (change)="onRoomPlanChange()">
          </mat-form-field>
          <mat-form-field style="width: 80px; margin-left: 8px;">
            <input matInput type="number" placeholder="# Spalten" [(ngModel)]="roomPlan.columns"
              (change)="onRoomPlanChange()">
          </mat-form-field>
        </span>

        <!-- Room plan display -->
        <div *ngFor="let seatRow of seatRows" style="height: 32px; display: flex; margin: 6px 0; justify-content: center;">
          <span *ngFor="let seat of seatRow.seats" style="width: 32px;"
            [ngClass]="isSeatSelected(seat) ? 'seat-selected' : ''">
            <app-clickable-seat [seatPosition]="seat" (seatClicked)="onSeatClicked($event)"></app-clickable-seat>
          </span>
        </div>

        <!-- Seat configuration -->
        <span class="seat-configuration">
          <label>
            Sitzreihe {{selectedSeatPosition?.row}}
            <br>
            Spalte {{selectedSeatPosition?.column}}
          </label>
          <span class="spacer"></span>
          <mat-form-field *ngIf="isLoaded" style="height: 40px;" color="accent">
            <mat-select placeholder="Sitzplatztyp" [disabled]="!(!!selectedSeatPosition)"
              [(ngModel)]="selectedSeatTypeIndex" (valueChange)="onSelectedSeatTypeChanged($event)">
              <mat-option *ngFor="let seatType of seatTypes" [value]="seatType.id">
                <span class="seat-type-option">
                  <img *ngIf="!!seatType.seatImage && seatType.seatImage !== ''"
                    [src]="domSanitizer.bypassSecurityTrustUrl(seatType.seatImage)"
                    class="seat-type-option-image">
                    <label [ngClass]="!(!!seatType.seatImage) || seatType.seatImage === '' ? 'seat-type-option-no-image' : ''">
                      {{seatType.name}}
                    </label>
                </span>
              </mat-option>
            </mat-select>
          </mat-form-field>
        </span>
      </div>
    </mat-expansion-panel>
  </mat-dialog-content>

  <mat-dialog-actions class="dialog-actions-container">
    <div class="dialog-actions-content">
      <button mat-raised-button color="warn" (click)="onAbortClicked()">Abbrechen</button>
      <button mat-raised-button color="accent" (click)="onConfirmClicked()">Bestätigen</button>
    </div>
  </mat-dialog-actions>
</div>
