<div style="height: 100vh;">
  <mat-sidenav-container class="stretch-height">
    <mat-sidenav #sidenav [@openCloseSidenav]="isOpen ? 'open' : 'closed'" mode="side" style="width: 300px;" opened>
      <mat-toolbar color="accent">
        <mat-icon style="margin-right: 8px" *ngIf="isOpen">event_seat</mat-icon>
        <span class="spacer" *ngIf="isOpen"></span>
        <span *ngIf="isOpen">Sitzplatzreservierung</span>
        <span class="spacer" *ngIf="isOpen"></span>
        <button mat-icon-button (click)="isOpen = !isOpen">
          <mat-icon>{{isOpen ? 'keyboard_arrow_left' : 'menu'}}</mat-icon>
        </button>
      </mat-toolbar>
      <mat-nav-list>
        <a mat-list-item routerLink="/home" [matTooltip]="isOpen ? '' : 'Startseite'"
          [ngClass]="{'active-link': currentRoute == '/home'}">
          <mat-icon class="sidebar-icon">home</mat-icon>
          <label *ngIf="isOpen">Startseite</label>
        </a>
        <a mat-list-item routerLink="/movies" [matTooltip]="isOpen ? '' : 'Filme'"
          [ngClass]="{'active-link': currentRoute == '/movies'}">
          <mat-icon class="sidebar-icon">theaters</mat-icon>
          <label *ngIf="isOpen">Filme</label>
        </a>
        <a mat-list-item routerLink="/movies/schedule" [matTooltip]="isOpen ? '' : 'Kinoprogramm'"
          [ngClass]="{'active-link': currentRoute == '/movies/schedule'}">
          <mat-icon class="sidebar-icon" [class.sub-nav-link]="isOpen" svgIcon="timeline_clock"></mat-icon>
          <label *ngIf="isOpen">Kinoprogramm</label>
        </a>
        <a mat-list-item routerLink="/admin" [matTooltip]="isOpen ? '' : 'Administration'"
          *ngIf="!authenticationService.isNormalUser()"
          [ngClass]="{'active-link': currentRoute == '/admin'}">
          <mat-icon class="sidebar-icon">person</mat-icon>
          <label *ngIf="isOpen">Administration</label>
        </a>
        <a mat-list-item routerLink="/admin/movies" [matTooltip]="isOpen ? '' : 'Film Verwaltung'"
          *ngIf="authenticationService.hasPermission(5)"
          [ngClass]="{'active-link': currentRoute == '/admin/movies'}">
          <mat-icon class="sidebar-icon" [class.sub-nav-link]="isOpen">person</mat-icon>
          <label *ngIf="isOpen">Film Verwaltung</label>
        </a>
      </mat-nav-list>
      <mat-nav-list style="margin-top: auto">
        <a mat-list-item routerLink="/account" [matTooltip]="isOpen ? '' : 'Account'"
          *ngIf="authenticationService.hasPermission(7)"
          [ngClass]="{'active-link': currentRoute == '/account'}">
          <mat-icon class="sidebar-icon">person</mat-icon>
          <label *ngIf="isOpen">Account</label>
        </a>
        <a mat-list-item [matTooltip]="isOpen ? '' : 'Abmelden'" (click)="authenticationService.logout()"
          *ngIf="authenticationService.loggedIn">
          <mat-icon class="sidebar-icon" svgIcon="logout"></mat-icon>
          <label *ngIf="isOpen">Abmelden</label>
        </a>
        <a mat-list-item routerLink="/login" [matTooltip]="isOpen ? '' : 'Anmelden'"
          *ngIf="!authenticationService.loggedIn"
          [ngClass]="{'active-link': currentRoute == '/login'}">
          <mat-icon class="sidebar-icon" svgIcon="login"></mat-icon>
          <label *ngIf="isOpen">Anmelden</label>
        </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content [@openCloseSidenavContent]="isOpen ? 'open' : 'closed'">
      <mat-toolbar role="toolbar" color="primary" style="position: fixed; z-index: 2;">
        <span>{{titleService.toolbarTitle}}</span>
        <span *ngIf="titleService.hasBreadcrumbs()"
          style="display: flex; align-items: center; margin-left: 8px; color: rgba(255,255,255,0.8);">
          <mat-icon>keyboard_arrow_right</mat-icon>
          <label *ngFor="let breadcrumb of titleService.breadcrumbs" style="font-size: 14px;">
            {{ breadcrumb.name }}
          </label>
        </span>
        <span class="spacer"></span>
        <mat-form-field style="margin-right: 64px; width: 300px; font-size: 1rem; margin-top: 16px;">
          <mat-select [(value)]="selectedLocationId" placeholder="Standort" (selectionChange)="onSelectedLocationChanged()">
            <mat-option *ngFor="let location of locations" [value]="location.id">
              {{location.name}} ({{location.zipCode}} {{location.state}})
            </mat-option>
          </mat-select>
        </mat-form-field>
        <!--<button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>-->
      </mat-toolbar>
      <div style="padding: 16px; height: calc(100% - 96px); top: 64px; position: relative; overflow-y: auto;">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
