<div>
  <h2 mat-dialog-title>Film archivieren?</h2>

  <mat-dialog-content>
    Möchten Sie den Film "{{ movie.title }}" wirklich archivieren?
    Archivierte Filme können nicht mehr in den Zeitplan aufgenommen werden und können nicht mehr von Kunden gesehen werden!
  </mat-dialog-content>

  <mat-dialog-actions class="dialog-actions-container">
    <div class="dialog-actions-content">
      <button mat-raised-button color="primary" (click)="onConfirmClicked()">Bestätigen</button>
      <button mat-raised-button color="warn" (click)="onAbortClicked()">Abbrechen</button>
    </div>
  </mat-dialog-actions>
</div>
