<div>
  <h2 mat-dialog-title>{{isEdit ? 'Film bearbeiten' : 'Film erstellen'}}</h2>

  <mat-dialog-content>
    <mat-accordion>
      <mat-expansion-panel expanded="true" style="margin-top: 8px">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Generell
          </mat-panel-title>
          <mat-panel-description>
            Daten wie Titel, Filmlänge, Beschreibung, etc. setzen
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div>
          <span style="display: flex;">
            <mat-form-field style="flex: 1;">
              <input matInput placeholder="Titel" [(ngModel)]="movie.title" required>
            </mat-form-field>
            <mat-form-field style="margin: 0 8px; width: 110px;">
              <input matInput type="number" placeholder="Länge (in Minuten)" [(ngModel)]="movie.movieLength" required>
            </mat-form-field>
            <mat-form-field color="accent" style="width: 150px;">
              <mat-label>Veröffentlichungsdatum</mat-label>
              <input matInput [matDatepicker]="picker" [formControl]="releaseDate">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </span>
          <mat-form-field class="stretch-width">
            <textarea matInput placeholder="Beschreibung" [(ngModel)]="movie.description" required>
            </textarea>
          </mat-form-field>
          <mat-slide-toggle [(ngModel)]="movie.isFeatured">Auf Startseite zeigen</mat-slide-toggle>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Mitwirkende
          </mat-panel-title>
          <mat-panel-description>
            Studio, Regie und Darsteller setzen
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div>
          <mat-form-field class="stretch-width">
            <mat-chip-list #studioList>
              <mat-chip *ngFor="let studio of movie.studios" [removable]="true" (removed)="removeStudio(studio)"
                        style="background-color: #7b1fa2" [selectable]="false">
                {{studio.name}}
                <mat-icon matChipRemove>cancel</mat-icon>
              </mat-chip>
              <input #studioInput placeholder="Studios" [matAutocomplete]="autoStudio" [matChipInputFor]="studioList"
                     [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                     (matChipInputTokenEnd)="addStudio($event)" (input)="onStudioInputChanged($event.target.value)">
            </mat-chip-list>
            <mat-autocomplete #autoStudio="matAutocomplete" (optionSelected)="studioSelected($event)">
              <mat-option *ngFor="let studio of filteredStudios" [value]="studio">
                {{studio.name}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>

          <mat-form-field class="stretch-width">
            <mat-chip-list #directorsList>
              <mat-chip *ngFor="let director of movie.directors" [removable]="true" (removed)="removePerson(director, true)"
                        style="background-color: #7b1fa2" [selectable]="false">
                {{director.name}}
                <mat-icon matChipRemove>cancel</mat-icon>
              </mat-chip>
              <input #directorsInput placeholder="Regie" [matAutocomplete]="autoDirector" [matChipInputFor]="directorsList"
                     [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                     (matChipInputTokenEnd)="addDirector($event)" (input)="onPersonInputChanged($event.target.value)">
            </mat-chip-list>
            <mat-autocomplete #autoDirector="matAutocomplete" (optionSelected)="personSelected($event, true)">
              <mat-option *ngFor="let person of filteredPeople" [value]="person">
                {{person.name}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>

          <mat-form-field class="stretch-width">
            <mat-chip-list #actorsList>
              <mat-chip *ngFor="let actor of movie.actors" [removable]="true" (removed)="removePerson(actor, false)"
                        style="background-color: #7b1fa2" [selectable]="false">
                {{actor.name}}
                <mat-icon matChipRemove>cancel</mat-icon>
              </mat-chip>
              <input #actorsInput placeholder="Darsteller" [matAutocomplete]="autoActor" [matChipInputFor]="actorsList"
                     [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                     (matChipInputTokenEnd)="addActor($event)" (input)="onPersonInputChanged($event.target.value)">
            </mat-chip-list>
            <mat-autocomplete #autoActor="matAutocomplete" (optionSelected)="personSelected($event, false)">
              <mat-option *ngFor="let person of filteredPeople" [value]="person">
                {{person.name}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Genres
          </mat-panel-title>
          <mat-panel-description>
            Auswahl der Genres für den Film
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div style="max-height: 300px; overflow-y: auto;">
          <mat-table matSort [dataSource]="genres">
            <ng-container matColumnDef="checked">
              <mat-header-cell *matHeaderCellDef></mat-header-cell>
              <mat-cell *matCellDef="let genre">
                <mat-checkbox [(ngModel)]="genre.checked"></mat-checkbox>
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="name">
              <mat-header-cell *matHeaderCellDef>Genre</mat-header-cell>
              <mat-cell *matCellDef="let genre">
                {{genre.genre.name}}</mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
          </mat-table>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel style="margin-bottom: 8px">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Grafiken
          </mat-panel-title>
          <mat-panel-description>
            Poster, Banner, Logo und Trailer setzen
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div>
          <span style="display: flex;">
            <div class="upload-container mat-elevation-z4">
              <h3 style="margin: 8px 8px 12px;">Poster - Hochformat (optional)</h3>
              <span class="spacer"></span>
              <div class="upload-area-container upload-area upload-area-portrait">
                <img *ngIf="!!movie.poster" [src]="domSanitizer.bypassSecurityTrustUrl(movie.poster)" class="contain">
                <button mat-raised-button (click)="uploadPoster()" color="accent" class="upload-button">Hochladen</button>
                <button *ngIf="!!movie.poster" mat-icon-button (click)="removePoster()" class="remove-button">
                  <mat-icon>close</mat-icon>
                </button>
              </div>
              <span class="spacer"></span>
            </div>
            <div class="upload-container mat-elevation-z4">
              <h3 style="margin: 8px 8px 12px;">Banner - Querformat (optional)</h3>
              <span class="spacer"></span>
              <div class="upload-area-container upload-area upload-area-landscape">
                <img *ngIf="!!movie.banner" [src]="domSanitizer.bypassSecurityTrustUrl(movie.banner)" class="contain">
                <button mat-raised-button (click)="uploadBanner()" color="accent" class="upload-button">Hochladen</button>
                <button *ngIf="!!movie.banner" mat-icon-button (click)="removeBanner()" class="remove-button">
                  <mat-icon>close</mat-icon>
                </button>
              </div>
              <span class="spacer"></span>
            </div>
          </span>
          <span style="display: flex;">
            <div class="upload-container mat-elevation-z4">
              <h3 style="margin: 8px 8px 12px;">Logo (optional)</h3>
              <span class="spacer"></span>
              <div class="upload-area-container upload-area upload-area-logo">
                <img *ngIf="!!movie.logo" [src]="domSanitizer.bypassSecurityTrustUrl(movie.logo)" class="contain">
                <button mat-raised-button (click)="uploadLogo()" color="accent" class="upload-button">Hochladen</button>
                <button *ngIf="!!movie.logo" mat-icon-button (click)="removeLogo()" class="remove-button">
                  <mat-icon>close</mat-icon>
                </button>
              </div>
              <span class="spacer"></span>
            </div>
            <div class="upload-container mat-elevation-z4">
              <h3 style="margin: 8px 8px 12px;">Trailer (optional)</h3>
              <span class="spacer"></span>
              <div class="upload-area-container upload-area upload-area-landscape">
                <youtube-player *ngIf="isYoutubeVideo(movie.trailer); else defaultPlayer"
                                style="width: 360px; height: 200px;" [videoId]="movie.trailer.replace('https://www.youtube.com/watch?v=', '')">
                </youtube-player>
                <ng-template #defaultPlayer>
                  <video *ngIf="!!movie.trailer" controls class="contain">
                    <source [src]="movie.trailer">
                  </video>
                </ng-template>
                <button mat-raised-button (click)="uploadTrailer()" color="accent" class="upload-button">Hochladen</button>
                <button *ngIf="!!movie.trailer" mat-icon-button (click)="removeTrailer()" class="remove-button">
                  <mat-icon>close</mat-icon>
                </button>
              </div>
              <span class="spacer"></span>
            </div>
          </span>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-dialog-content>

  <mat-dialog-actions class="dialog-actions-container">
    <div class="dialog-actions-content">
      <button mat-raised-button color="warn" (click)="onAbortClicked()">Abbrechen</button>
      <button mat-raised-button color="accent" (click)="onConfirmClicked()">Bestätigen</button>
    </div>
  </mat-dialog-actions>
</div>
